.dashboard__link {
  display: block;
  padding: 15px 20px;
  color: #333333;
}

.dashboard__link--active {
  border-left: 3px solid #333333;
  font-weight: 500;
}

.dashboard {
  margin-top: 30px;
  min-height: 80vh;
}

.dashboard-link-col {
  border-right: 1px solid #cccccc;
  min-height: max-content;
}

.password-form-container,
.profile-form-container {
  width: 70%;
  margin: 0 auto;
  background-color: #ffffff;
}

.password-form__btn,
.profile-form__btn,
.upload-avatar__btn {
  font-size: 12px;
  padding: 8px 20px;
  border: 1px solid #eaeaea;
  outline: none;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #5eb7ff;
  color: #ffffff;
  cursor: pointer;
}

.password-form__btn,
.profile-form__btn {
  margin-top: 30px;
  margin-left: 10px;
}

.password-form__input,
.profile-form__input {
  padding: 7px 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid #cccccc;
}

.password-form__label,
.profile-form__label {
  margin-top: 5px;
  text-align: right;
}

.dashboard-component-col {
  padding: 50px 0;
}

.password-form__avatar,
.profile-form__avatar {
  margin: 0 0 0 auto;
}

.password-form__user,
.profile-form__user {
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 400;
}

.password-form__snippet,
.profile-form__snippet {
  margin-bottom: 20px;
}

.upload-avatar__avatar {
  margin: 0 auto;
  margin-bottom: 20px;
}

.upload-avatar__username {
  font-size: 20px;
}

.upload-avatar__username-cont {
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.select-files {
  display: none;
}

.upload-avatar__btn {
  display: inline-block;
  cursor: pointer;
}

.upload-avatar__form-container {
  position: relative;
}

.upload-avatar {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.upload-avatar__btn--left {
  margin-right: 5px;
}
