.post {
  width: 100%;
  max-width: 600px;
  margin-bottom: 60px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
.post__header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.post__avatar {
  margin-right: 10px;
}

.post__user,
.post__user:visited {
  font-weight: 600;
  color: #555555;
}

.post__user:hover {
  text-decoration: underline;
}

.post__image {
  width: 100%;
  object-fit: cover;
}

.post__optionbar {
  display: flex;
  padding: 10px 0px;
}

.post__optionitem {
  margin-left: 10px;
}

.post__caption {
  display: block;
  text-align: left;
  padding: 10px;
}

.post__captiontext {
  display: block;
  text-align: left;
}

.comments__add {
  display: flex;
}

.comments__input {
  flex-grow: 1;
  padding: 15px 10px;
  border: none;
  border-top: 1px solid #cccccc;
  font-size: 15px;
}

.comments__input:focus {
  outline: none;
}

.comments__submit {
  border: none;
  background: none;
  border-top: 1px solid #cccccc;
  cursor: pointer;
  font-size: 15px;
  padding: 15px 20px;
  color: #5eb7ff;
  font-weight: 700;
}

.comment {
  display: flex;
  margin: 0px 10px 10px 10px;
  align-items: center;
}

.comment__data {
  margin-left: 5px;
  font-size: 15px;
  flex-grow: 1;
  text-align: left;
}

.comment__username,
.comment__username:visited {
  color: #555555;
  font-weight: 600;
  font-size: 15px;
}

.comment__username:hover {
  text-decoration: underline;
}

.post__likebtn,
.comment__deletebtn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
